<section fxLayout="row" fxLayoutAlign="space-around top">
    <div>
        <h1>Kontakt informacije</h1>
        <p><mat-icon>phone_iphone</mat-icon> 060-555-878</p>
        <p><mat-icon>phone</mat-icon> 011-2344-12</p>
        <p><mat-icon>email</mat-icon> paradiso@gmail.com</p>
        <p><mat-icon>location_on</mat-icon> Dr Petra Markovića 18, Beograd, Srbija</p>
        <h2>O nama</h2>
        <p class="opis">Paradiso travel agency predstavlja jednu od najpopularnijih turističkih agencija u Srbiji sa dugogodišnjim iskustvom u ovoj industriji.</p>
    </div>
    
    
    <div class="mapa">
        <div class="belo"></div>
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1_TD8ZboUVAq-yDREmddwzhPwTuGqhJl8&ehbc=2E312F" ></iframe>
    </div>
    
</section>
