section{
    padding-top:50px;
    height:auto;
    background-color: white;
}
form{
    padding:50px;
    margin:auto;
}
mat-form-field{
    width:500px;
}

@media screen and (max-width:600px){
    mat-form-field{
        width:300px;
    }
}